<section id="banner" ng-show="holidays">
  <div class="flechas izquierda" style="display: block;" ng-click="previous()" ng-if="id>0"></div>
  <p translate="FALTAN" ng-show="holidays[id].daysLeft >= 2"></p>
  <p translate="FALTA" ng-show="holidays[id].daysLeft < 2"></p>
  <h2><strong ng-style='holidays[id].style' class="bigDays">{{holidays[id].daysLeft}}</strong></h2>
  <p translate="DIAS" ng-show="holidays[id].daysLeft >= 2"></p>
  <p translate="DIA" ng-show="holidays[id].daysLeft < 2"></p>
  <div class="description">
    <h5>{{holidays[id].friendlyDate}}</h5>
    <span>{{holidays[id].title}}</span><br>
    <span class="holidays memo">{{holidays[id].memo}}</span>
  </div>
  <div class="flechas derecha" style="display: block;" ng-click="next()" ng-if="id<holidays.length-1"></div>
</section>
