<section id="banner">
  <div class="flechas izquierda" style="display: block;" ng-click="previous()" ng-if="id>0"></div>
  <p translate="FALTAN"></p>
  <h2><strong>{{holidays[id].daysLeft}}</strong></h2>
  <p translate="DIAS"></p>
  <div class="description">
    <h5>{{holidays[id].date}}</h5>
    <span>{{holidays[id].title}}</span><br>
    <span class="holidays memo">{{holidays[id].memo}}</span>
  </div>
  <div class="flechas derecha" style="display: block;" ng-click="next()" ng-if="id<holidays.length-1"></div>
</section>
